.expert-section {
  margin: 60px auto;
  .row {
    .expert {
      .sub-title {
        color: #65a0cb;
      }
      h1{
        text-transform: uppercase;
      }
      p{
        line-height: 28px;
      }
      .tickets{
        .title{
          font-weight: 600 ;
        }
      }
    }
  }
}
