.service-section {
  height: 80vh;
  width: 100%;
  background-image: url("../img/section-img.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  h1 {
    color: white;
    margin-top: 50px;
  }
}
