@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Exo|Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("story.css");
/* Using a url */
body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Josefin Sans";
}

.navbar-expand-lg {
  padding: 20px 80px;
  background-color: transparent;
}

.navbar-expand-lg .navbar-brand {
  width: 45px;
  height: auto;
}

.navbar-expand-lg .navbar-brand img {
  width: 100%;
  height: 100%;
}

.navbar-expand-lg #navbarSupportedContent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-expand-lg #navbarSupportedContent .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 18px;
  margin: 5px 20px;
}

.navbar-expand-lg #navbarSupportedContent .navbar-nav .nav-item .nav-link:hover {
  background-color: #0264ab;
  border-radius: 10px;
  padding: 8px 20px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.banner {
  height: 130vh;
  width: 100%;
  position: relative;
}

.banner .banner-image {
  height: 100%;
  width: 100%;
  background-position: fixed;
}

.banner .banner-image img {
  height: 100%;
  width: 100%;
}

.banner .shadow-img {
  position: absolute;
  top: 190px;
  left: 100px;
  height: 378px;
  width: 644px;
  box-shadow: -3px -1px 19px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px -1px 19px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -1px 19px -1px rgba(0, 0, 0, 0.75);
}

.banner .shadow-img img {
  width: 100%;
  height: 100%;
}

.banner .banner-contents {
  position: absolute;
  top: 300px;
  left: 600px;
  width: auto;
  color: white;
}

.banner .banner-contents h1 {
  width: 71%;
  text-transform: uppercase;
  font-weight: 600;
}

.banner .banner-contents .vertical-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 20px;
  left: 30px;
}

.banner .banner-contents .vertical-navbar .text-transform {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: -88px;
  right: -11px;
}

.banner .banner-contents .vertical-navbar .social-icon {
  position: absolute;
  top: -30px;
  right: -11px;
}

.navbar.navbar-expand-lg.fixed-top.py-3.active {
  background: #586f86;
}

.container .about-title .about-subtitle {
  margin-bottom: 30px;
}

.icons {
  margin: 35px auto;
}

.icons .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.icons .col-md-4 .about-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons .col-md-4 .about-icons figure {
  width: 50px;
  height: auto;
}

.icons .col-md-4 .about-icons figure img {
  width: 100%;
  height: 100%;
}

.icons .col-md-4 .about-icons .pic-title {
  width: 100%;
}

.icons .col-md-4 .about-icons .pic-number {
  width: 40%;
  color: blue;
  font-size: 30px;
}

.icons .col-md-4 .circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  color: red;
  background: red;
  top: 0;
  left: 132px;
  opacity: 0.5;
}

.service-section {
  position: relative;
  height: 85vh;
  width: 100%;
  background-image: url("../img/section-img.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  -o-object-position: center center;
     object-position: center center;
}

.service-section h1 {
  color: white;
  margin-top: 60px;
}

.service-section p {
  color: white;
}

.service-section .service-gallery {
  position: absolute;
  bottom: -40px;
  width: 100%;
}

.service-section .service-gallery .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-section .service-gallery .row .service-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 230px;
  background: gray;
  width: 18%;
  margin: auto 15px 0 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.service-section .service-gallery .row .service-img img {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.service-section .service-gallery .row .service-img img:hover {
  -webkit-transform: scale(0.08);
  transform: scale(1.2);
}

.service-section .service-gallery .row .service-img .service-content {
  position: absolute;
  bottom: 0;
  left: 0.5em;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.fleet-section {
  margin-top: 90px;
}

.fleet-section .row .banner {
  height: 330px;
  width: 100%;
}

.fleet-section .row .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.fleet-section .row .fleet-contents span {
  color: #6ca4cd;
}

.fleet-section .row .fleet-contents p {
  width: 70%;
  line-height: 28px;
}

.fleet-section .row .fleet-contents hr {
  height: 8px;
  background: #0264ab;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0;
}

.fleet-section .row .fleet-contents .table-borderless {
  background-color: white;
}

.fleet-section .row .fleet-contents .table-borderless td {
  text-align: center;
}

.fleet-section .row .fleet-contents .fleet-search {
  color: #65a0cb;
  text-transform: capitalize;
  margin-left: 100px;
}

.expert-section {
  margin: 60px auto;
}

.expert-section .row .expert .sub-title {
  color: #65a0cb;
}

.expert-section .row .expert h1 {
  text-transform: uppercase;
}

.expert-section .row .expert p {
  line-height: 28px;
}

.expert-section .row .expert .tickets {
  margin: 30px auto;
}

.expert-section .row .expert .tickets .title {
  font-weight: 600;
  line-height: 28px;
}

.expert-section .row .expert .tickets .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expert-section .row .expert .tickets .wrap .div1 {
  width: 30%;
  line-height: 28px;
}

.expert-section .row .expert .tickets .wrap #email {
  width: 50%;
}

.expert-section .row .expert-video .expert-image {
  width: 100%;
  height: 500px;
}

.expert-section .row .expert-video .expert-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.expert-section .row .expert-video .expert-absolute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.expert-section .row .expert-video .expert-absolute .expert-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expert-section .row .expert-video .expert-absolute .expert-icon .about-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expert-section .row .expert-video .expert-absolute .expert-icon .about-icons figure {
  width: 50px;
  height: auto;
}

.expert-section .row .expert-video .expert-absolute .expert-icon .about-icons figure img {
  width: 100%;
  height: 100%;
}

.expert-section .row .expert-video .expert-absolute .expert-icon .about-icons .pic-title {
  width: 100%;
}

.expert-section .row .expert-video .expert-absolute .expert-icon .about-icons .pic-number {
  width: 40%;
  color: blue;
  font-size: 30px;
}

.expert-section .row .expert-video .expert-absolute .expert-icon .circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  color: red;
  background: red;
  top: 12px;
  left: 30px;
  opacity: 0.5;
}

footer {
  background-color: #1d1d1d;
}

footer .section-footer {
  padding: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .section-footer .footer-links nav {
  margin: 30px auto;
}

footer .section-footer .footer-links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .section-footer .footer-links nav ul li {
  list-style: none;
  margin-right: 30px;
  text-transform: uppercase;
}

footer .section-footer .footer-links nav ul li a {
  color: #ffff;
}

footer .section-footer .footer-links .copyright {
  color: white;
}

.partner-section {
  margin: 50px auto;
}

.partner-section .partner-gallery,
.partner-section .partner-gallery1 {
  margin: 40px auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.partner-section .partner-gallery .container .row .partner-img,
.partner-section .partner-gallery1 .container .row .partner-img {
  margin: 40px auto;
  width: 135px;
  height: auto;
}

.partner-section .partner-gallery .container .row .partner-img img,
.partner-section .partner-gallery1 .container .row .partner-img img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */