@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Exo|Poppins&display=swap");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url("story.css"); /* Using a url */
body{
  margin: 0;
  background-color: #fafafa;
  font-family: 'Josefin Sans', ;
}
@import "variable";
@import "header";
// @import "fonts";
// @import "mixin";
@import "banner";
@import "about-us";
@import "service";
@import "flight";
@import "expert";
@import "footer";
@import "partners";
// @import "story-banner-img";
// @import "story-venture";
// @import "book";
// @import "journey-section";
// @import "venture";
// @import "ventures-paragraph";
// @import "quick-contact";
// @import "upcoming-notification";
// @import "upcoming-events";
// @import "page-events";
// @import "blog";
// @import "keyframes";
